RewriteEngine On

ErrorDocument 100 /error.php?s=100
ErrorDocument 101 /error.php?s=101
ErrorDocument 102 /error.php?s=102
ErrorDocument 103 /error.php?s=103
ErrorDocument 200 /error.php?s=200
ErrorDocument 201 /error.php?s=201
ErrorDocument 202 /error.php?s=202
ErrorDocument 203 /error.php?s=203
ErrorDocument 204 /error.php?s=204
ErrorDocument 205 /error.php?s=205
ErrorDocument 206 /error.php?s=206
ErrorDocument 207 /error.php?s=207
ErrorDocument 208 /error.php?s=208
ErrorDocument 226 /error.php?s=226
ErrorDocument 300 /error.php?s=300
ErrorDocument 301 /error.php?s=301
ErrorDocument 302 /error.php?s=302
ErrorDocument 303 /error.php?s=303
ErrorDocument 304 /error.php?s=304
ErrorDocument 305 /error.php?s=305
ErrorDocument 306 /error.php?s=306
ErrorDocument 307 /error.php?s=307
ErrorDocument 308 /error.php?s=308
ErrorDocument 400 /error.php?s=400
ErrorDocument 401 /error.php?s=401
ErrorDocument 402 /error.php?s=402
ErrorDocument 403 /error.php?s=403
ErrorDocument 404 /error.php?s=404
ErrorDocument 405 /error.php?s=405
ErrorDocument 406 /error.php?s=406
ErrorDocument 407 /error.php?s=407
ErrorDocument 408 /error.php?s=408
ErrorDocument 409 /error.php?s=409
ErrorDocument 410 /error.php?s=410
ErrorDocument 411 /error.php?s=411
ErrorDocument 412 /error.php?s=412
ErrorDocument 413 /error.php?s=413
ErrorDocument 414 /error.php?s=414
ErrorDocument 415 /error.php?s=415
ErrorDocument 416 /error.php?s=416
ErrorDocument 417 /error.php?s=417
ErrorDocument 418 /error.php?s=418
ErrorDocument 421 /error.php?s=421
ErrorDocument 422 /error.php?s=422
ErrorDocument 423 /error.php?s=423
ErrorDocument 424 /error.php?s=424
ErrorDocument 425 /error.php?s=425
ErrorDocument 426 /error.php?s=426
ErrorDocument 428 /error.php?s=428
ErrorDocument 429 /error.php?s=429
ErrorDocument 431 /error.php?s=431
ErrorDocument 451 /error.php?s=451
ErrorDocument 500 /error.php?s=500
ErrorDocument 501 /error.php?s=501
ErrorDocument 502 /error.php?s=502
ErrorDocument 503 /error.php?s=503
ErrorDocument 504 /error.php?s=504
ErrorDocument 505 /error.php?s=505
ErrorDocument 506 /error.php?s=506
ErrorDocument 507 /error.php?s=507
ErrorDocument 508 /error.php?s=508
ErrorDocument 510 /error.php?s=510
ErrorDocument 511 /error.php?s=511
